@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind:wght@400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   background-color: #03023d;
   color: #FFFFFF;
}

main.apresentacao {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 5%;
}

section.apresentacao__conteudo {
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 615px;
}

h1.apresentacao__conteudo__titulo {
   font-family: 'Audiowide', cursive;
   font-size: 2.25rem;
}

strong.titulo__destaque {
   color: #22DDF2;
   font-weight: bold;
}

p.apresentacao__conteudo__texto {
   font-family: 'Hind', sans-serif;
   font-size: 1.5rem;
   font-weight: 400;
}

div.apresentacao__conteudo__links {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 32px;
}

h2.apresentacao__conteudo__subtitulo {
   font-size: 2rem;
   font-weight: 400;
}

a.apresentacao__conteudo__links__link {
   display: flex;
   justify-content: center;   
   align-items: center;
   width: 378px;
   color: #22DDF2;
   border: 2px solid #22DDF2;
   text-decoration: none;
   font-family: 'Hind', sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 1.3rem 0;
   border-radius: 10px;
   gap: 1rem;
}

a.apresentacao__conteudo__links__link:hover{
   background-color: #040366;
}

i.apresentacao__conteudo__links--github,
i.apresentacao__conteudo__links--linkedin,
i.apresentacao__conteudo__links--instagram {
   color: #22DDF2;
   font-size: 1.5rem;
}

