*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   height: 100vh;
   background-color: #03023d;
   color: #FFFFFF;
}

main.apresentacao{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

strong.titulo__destaque{
   color: #22DDF2;     
   font-weight: bold;
}