@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind:wght@400;600&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

:root {
   --cor01: #000000;
   --cor02: #FFFFFF;
   --cor03: #03023d;
   --cor04: #22DDF2;
   --cor05: #ff4db2;
   --cor06: #FA1796;
   --cor07: #f7add7;
   --cor08: rgba(3, 2, 61, 0.3);
   --cor09: rgba(34, 221, 242, 0.5);
   --cor10: rgba(250, 23, 152, 0.2);
   --font01: 'Hind', sans-serif;
   --font02: 'Audiowide', cursive;
}

body {
   display: flex;
   flex-direction: column;
   background-color: var(--cor03);
   background-image: url("../img/background.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: var(--font01);
   min-height: 100vh;
}

header.cabecalho {
   background-color: var(--cor08);
   padding: 0.8% 7% 0.4% 7%;
}

nav.cabecalho__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 50px;
}

a.cabecalho__menu__link {
   color: var(--cor04);
   font-size: 1.1rem;
   font-weight: 600;
   text-shadow: 2px 2px 2px var(--cor03);
   transition: all 0.5s ease-in-out;

   &:hover {
      color: var(--cor05);
      transform: scale(1.05);
   }
}

i.cabecalho__menu__link--icone {
   color: var(--cor04);
   font-size: 1.9rem;
}

main.apresentacao {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   color: var(--cor03);
   gap: 30px;
   padding: 3% 7%;
}

section.apresentacao__conteudo {
   display: flex;
   flex-direction: column;
   gap: 22px;
   width: 45%;
}

h1.apresentacao__conteudo__titulo {
   font-family: var(--font02);
   font-size: 1.6rem;
   text-shadow: 1px 1px 1px var(--cor06);
   animation-name: pulse;
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   animation-delay: 1s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes pulse {
   0% {
      scale: 1;
   }

   100% {
      scale: 0.95;
   }
}

strong.titulo__destaque {
   color: var(--cor04);
   font-weight: 600;
   text-shadow: 2px 2px 1px var(--cor03);
}

p.apresentacao__conteudo__texto,
p.apresentacao__card__back__texto {
   font-size: 1.1rem;
   font-weight: 600;
   text-shadow: 1px 1px 1px var(--cor06);
   padding: 7px 0px;
}

h2.apresentacao__conteudo__subtitulo,
h2.apresentacao__card__back__subtitulo {
   color: var(--cor04);
   font-family: var(--font02);
   font-size: 1.3rem;
   font-weight: 200;
   text-align: center;
   text-shadow: 2px 2px 1px var(--cor03);
   padding: 7px 0px;
}

div.apresentacao__conteudo__links {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
   text-shadow: 1px 1px 1px var(--cor06);
}

a.apresentacao__conteudo__links__link {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--cor10);
   border-radius: 10px;
   border: 2px solid var(--cor04);
   color: var(--cor03);
   font-size: 1rem;
   font-weight: 600;
   gap: .4rem;
   padding: .7rem 0;
   text-decoration: none;
   transition: all 0.4s ease-in-out;
   box-shadow: 5px 5px 10px var(--cor01);
   width: 30%;

   &:hover {
      color: var(--cor06);
      text-shadow: 1px 1px 1px var(--cor03);
      background-color: var(--cor08);
      transform: scale(1.03);
   }
}

section.apresentacao__card {
   position: relative;
   width: 45%;
   height: 380px;
   transform-style: preserve-3d;
   perspective: 1000px;
}

div.apresentacao__card__front {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transition: all 1s ease-in-out;
   border-radius: 20px;
   filter: drop-shadow(5px 5px 10px var(--cor01));
}

section.apresentacao__card:hover div.apresentacao__card__front {
   transform: rotateY(180deg);
}

img.apresentacao__card__front__imagem {
   height: 100%;
   width: 100%;
   border-radius: 20px;
}

article.apresentacao__card__back {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 35px;
   position: absolute;
   backface-visibility: hidden;
   background-image: url(../img/background.jpg);
   background-size: cover;
   transform: rotateY(-180deg);
   transition: all 1s ease-in-out;
   height: 100%;
   width: 100%;
   border-radius: 20px;
   filter: drop-shadow(5px 5px 10px var(--cor01));
}

section.apresentacao__card:hover article.apresentacao__card__back {
   transform: rotateY(0deg);
}

i.apresentacao__conteudo__links__link--instagram,
i.apresentacao__conteudo__links__link--github,
i.apresentacao__conteudo__links__link--linkedin {
   font-size: 1.5rem;
}

footer.rodape {
   font-size: 0.7rem;
   color: var(--cor03);
   background-color: var(--cor09);
   text-align: center;
   padding: 3px;
}

a.rodape__link {
   font-weight: 600;
}

/* ============Versao Mobile============ */
@media (max-width: 1024px) {
   header.cabecalho {
      padding: 8% 5% 0 5%;
   }

   nav.cabecalho__menu {
      flex-direction: column;
      align-items: center;
      gap: 15px;
   }

   main.apresentacao {
      flex-direction: column-reverse;
      padding: 7%;
   }

   section.apresentacao__conteudo {
      width: auto;
      text-align: center;
   }

   div.apresentacao__conteudo__links {
      flex-direction: column;
   }

   a.apresentacao__conteudo__links__link {
      width: 50%;
   }

   img.apresentacao__conteudo__imagem {
      width: 100%;
   }
}