@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind:wght@400;600&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

:root {
   --cor01: #000000;
   --cor02: #FFFFFF;
   --cor03: #03023d;
   --cor04: #22DDF2;
   --cor05: #ff4db2;
   --cor06: #FA1796;
   --cor07: #f7add7;
   --cor08: rgba(3, 2, 61, 0.5);
   --cor09: rgba(34, 221, 242, 0.5);
   --cor10: rgba(250, 23, 152, 0.2);
   --font01: 'Hind', sans-serif;
   --font02: 'Audiowide', cursive;
}

body {
   background-color: var(--cor05);
   background-image: url("../img/background.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   font-family: var(--font01);
   min-height: 100vh;
}

header.cabecalho {
   background-color: var(--cor08);
   padding: 0.8% 6% 0.4% 6%;
}

nav.cabecalho__menu {
   align-items: center;
   display: flex;
   gap: 50px;
   justify-content: space-between;
}

a.cabecalho__menu__link {
   color: var(--cor04);
   font-size: 1.1rem;
   font-weight: 600;
   text-shadow: 2px 2px 2px var(--cor03);
   transition: all 0.5s ease-in-out;

   &:hover {
      color: var(--cor05);
      transform: scale(1.05);
   }
}

i.cabecalho__menu__link--icone {
   color: var(--cor04);
   font-size: 1.9rem;
}

main.apresentacao {
   align-items: center;
   color: var(--cor03);
   display: flex;
   flex-basis: 0;
   flex-direction: row;
   flex-grow: 1;
   flex-shrink: 1;
   gap: 10px;
   justify-content: space-between;
   padding: 2% 6%;
}

section.apresentacao__conteudo {
   display: flex;
   flex-direction: column;
   gap: 21px;
   height: 380px;
   justify-content: center;
   width: 46%;
}

h1.apresentacao__conteudo__titulo {
   animation-delay: 1s;
   animation-direction: alternate;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-name: pulse;
   animation-timing-function: ease-in-out;
   font-family: var(--font02);
   font-size: 1.6rem;
   text-shadow: 1px 1px 1px var(--cor06);
}

@keyframes pulse {
   0% {
      scale: 1;
   }

   100% {
      scale: 0.95;
   }
}

strong.titulo__destaque {
   color: var(--cor06);
   font-weight: 600;
   text-shadow: 2px 2px 1px var(--cor03);
}

p.apresentacao__conteudo__texto,
p.apresentacao__card__back__texto {
   font-size: 1.1rem;
   font-weight: 600;
   padding: 7px 0px;
   text-shadow: 1px 1px 1px var(--cor06);
}

h2.apresentacao__conteudo__subtitulo,
h2.apresentacao__card__back__subtitulo {
   color: var(--cor04);
   font-family: var(--font02);
   font-size: 1.3rem;
   font-weight: 200;
   padding: 7px 0px;
   text-align: center;
   text-shadow: 2px 2px 1px var(--cor03);
}

div.apresentacao__conteudo__links {
   align-items: center;
   display: flex;
   flex-direction: row;
   gap: 15px;
   justify-content: space-between;
   text-shadow: 1px 1px 1px var(--cor06);
}

a.apresentacao__conteudo__links__link {
   align-items: center;
   background-color: var(--cor10);
   border-radius: 10px;
   border: 2px solid var(--cor04);
   box-shadow: 7px 7px 12px 0px var(--cor01);
   color: var(--cor03);
   display: flex;
   font-size: 1rem;
   font-weight: 600;
   gap: .4rem;
   justify-content: center;
   padding: .7rem 0;
   text-decoration: none;
   transition: all 0.4s ease-in-out;
   width: 30%;

   &:hover {
      background-color: var(--cor08);
      color: var(--cor06);
      text-shadow: 1px 1px 1px var(--cor03);
      transform: scale(1.03);
   }
}

section.apresentacao__card {
   height: 380px;
   perspective: 1300px;
   position: relative;
   transform-style: preserve-3d;
   width: 46%;
}

div.apresentacao__card__front {
   backface-visibility: hidden;
   border-radius: 20px;
   box-shadow: 7px 7px 12px 0px var(--cor01);
   height: 100%;
   position: absolute;
   transition: all 1s ease-in-out;
   width: 100%;
}

section.apresentacao__card:hover div.apresentacao__card__front {
   transform: rotateY(180deg);
}

img.apresentacao__card__front__imagem {
   border-radius: 20px;
   height: 100%;
   width: 100%;
}

article.apresentacao__card__back {
   backface-visibility: hidden;
   background-image: url(../img/background.jpg);
   background-size: cover;
   border-radius: 20px;
   box-shadow: 7px 7px 12px 0px var(--cor01);
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   padding: 35px;
   position: absolute;
   transform: rotateY(-180deg);
   transition: all 1s ease-in-out;
   width: 100%;
}

section.apresentacao__card:hover article.apresentacao__card__back {
   transform: rotateY(0deg);
}

a.apresentacao__conteudo__links__link {
   font-size: 1.1rem;
}

footer.rodape {
   background-color: var(--cor09);
   color: var(--cor03);
   font-size: 0.7rem;
   padding: 3px;
   text-align: center;
}

a.rodape__link {
   color: var(--cor03);
   font-weight: 600;
}

/* ==========Versao Mobile========== */
@media screen and (max-width: 768px) {
   header.cabecalho {
      padding: 16% 5% 11% 5%;
   }

   nav.cabecalho__menu {
      align-items: center;
      flex-direction: column;
      gap: 17px;
   }
   
   a.cabecalho__menu__link {
      font-size: 1.7rem;
   }

   i.cabecalho__menu__link--icone {
      font-size: 3.6rem;
   }

   main.apresentacao {
      flex-direction: column-reverse;
      padding: 16% 5%;
   }

   section.apresentacao__conteudo {
      gap: 0;
      height: 835px;
      margin-top: 20px;
      text-align: center;
      width: auto;
   }

   h1.apresentacao__conteudo__titulo{
      font-size: 2rem;
   }

   p.apresentacao__conteudo__texto {
      font-size: 1.5rem;
      padding: 20px 0 0 0;
   }

   h2.apresentacao__conteudo__subtitulo {
      font-size: 1.8rem;
      padding: 25px 0 0 0;
   }

   div.apresentacao__conteudo__links {
      flex-direction: column;
      padding: 22px 0 0 0;
   }

   a.apresentacao__conteudo__links__link {
      font-size: 1.5rem;
      width: 60%;
   }

   section.apresentacao__card {
      height: 300px;
      width: 100%;
   }

   section.apresentacao__card:hover div.apresentacao__card__front {
      transform: none;
   }

   section.apresentacao__card:hover article.apresentacao__card__back {
      transform: none;
   }

   article.apresentacao__card__back {
      display: none;
      transform: none;
   }
}

