@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind:wght@400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

:root {
   --cor01: #000000;
   --cor02: #FFFFFF;
   --cor03: #03023d;
   --cor04: #22DDF2;
   --font01: 'Hind', sans-serif;
   --font02: 'Audiowide', cursive;
}

body {
   background-color: var(--cor03);
   color: var(--cor02);
   font-family: var(--font01);
}

header.cabecalho {
   padding: 3% 0 0 5%;
}

nav.cabecalho__menu {
   display: flex;
   gap: 100px;
}

a.cabecalho__menu__link {
   font-size: 1.3rem;
   font-weight: 600;
   color: var(--cor04);
}

main.apresentacao {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 5%;
   gap: 35px;
}

section.apresentacao__conteudo {
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 50%;
}

h1.apresentacao__conteudo__titulo {
   font-family: var(--font02);
   font-size: 2.25rem;
}

strong.titulo__destaque {
   color: var(--cor04);
   font-weight: bold;
}

p.apresentacao__conteudo__texto {
   font-size: 1.5rem;
   font-weight: 400;
}

div.apresentacao__conteudo__links {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 32px;
}

h2.apresentacao__conteudo__subtitulo {
   font-size: 2rem;
   font-weight: 400;
}

a.apresentacao__conteudo__links__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   color: var(--cor04);
   border: 2px solid var(--cor04);
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 1.3rem 0;
   border-radius: 10px;
   gap: 1rem;
   transition: all 0.5s ease-in-out;
}

a.apresentacao__conteudo__links__link:hover {
   background-color: var(--cor04);
   color: var(--cor03);
   scale: 1.03;
}

img.apresentacao__conteudo__imagem {
   width: 50%;
}

i.apresentacao__conteudo__links__link--github,
i.apresentacao__conteudo__links__link--linkedin,
i.apresentacao__conteudo__links__link--instagram {
   color: var(--cor04);
   font-size: 1.5rem;
}

footer.rodape {
   color: var(--cor03);
   background-color: var(--cor04);
   text-align: center;
   padding: 5px;
}

a.rodape__link {
   font-weight: 600;
}

@media (max-width: 1024px) {
   header.cabecalho {
      padding: 5% 5% 0 5%;
   }

   nav.cabecalho__menu {
      justify-content: center;
   }

   main.apresentacao {
      flex-direction: column-reverse;
   }

   section.apresentacao__conteudo{
      width: auto;
      text-align: center;
   }
}